.search__container__fadeIn {
  opacity: 1;
  animation: fadeIn 0.1s ease-in;
}
.search__container__fadeOut {
  opacity: 0;
  animation: fadeOut 0.1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
