.search__container__fadeIn {
  opacity: 1;
  animation: fadeIn 0.1s ease-in;
}
.search__container__fadeOut {
  opacity: 0;
  animation: fadeOut 0.1s ease-out;
}
.layout__postContainer__fadeIn {
  opacity: 1;
  animation: fadeIn 0.2s ease-in;
}
.layout__postContainer__fadeOut {
  opacity: 0;
  animation: fadeOut 0.2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .rightSide {
    display: none;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .rightSide {
    display: none;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .rightSide {
    display: none;
  }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .rightSide {
    display: none;
  }
}
