.search__container__fadeIn {
  opacity: 1;
  animation: fadeIn 0.1s ease-in;
}
.search__container__fadeOut {
  opacity: 0;
  animation: fadeOut 0.1s ease-out;
}
.layout__postContainer__fadeIn {
  opacity: 1;
  animation: fadeIn 0.2s ease-in;
}
.layout__postContainer__fadeOut {
  opacity: 0;
  animation: fadeOut 0.2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .index__article,
  .index__article__after {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .index__article,
  .index__article__after {
    width: 45%;
  }
  .layout__rightSide {
    display: none;
  }
}
@media (max-width: 600px) {
  .index__article,
  .index__article__after {
    width: 100%;
  }
}
